/*
!src
!cifar10_models
!chaosNLI_embedding.py
!chaosNLI_test.py
!chaosNLI_training_calibration.py
!README.md
!simplex_discretization.py 
!synthetic_data.py 
!synthetic_noise_analysis.py
!synthetic_test.py
!synthetic_training_calibration.py
!requirements.txt
!synthetic_uncertainty_analysis(illustrative).ipynb
!chaosNLI_uncertainty_analysis.ipynb
!cifar10h_uncertainty_analysis.ipynb
data/cifar-10-batches-py/*
*.tar.gz
*.pt
state_dicts.zip
!.gitignore